In [9]:
import pandas as pd
import random
from datetime import datetime

In [10]:
products = {
    "Rice": (20, 50),  
    "Bread": (15, 30),
    "Milk": (10, 25),
    "Eggs": (5, 12),
    "Fruits": (10, 50),
    "Vegetables": (5, 40)
}

In [12]:
products.keys()

dict_keys(['Rice', 'Bread', 'Milk', 'Eggs', 'Fruits', 'Vegetables'])

In [3]:
def generate_sales_record():
    product = random.choice(list(products.keys()))
    price = random.uniform(*products[product])  
    units_sold = random.randint(1, 100)  
    total_sales = price * units_sold
    timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S') 
    return {
        "Product": product,
        "Price per Unit": round(price, 2),
        "Units Sold": units_sold,
        "Total Sales": round(total_sales, 2),
        "Timestamp": timestamp
    }

In [4]:
def generate_large_dataset(num_records):
    data = [generate_sales_record() for _ in range(num_records)]
    return pd.DataFrame(data)

In [5]:
num_records = 10000 
dataset = generate_large_dataset(num_records)

In [6]:
dataset

         Product  Price per Unit  Units Sold  Total Sales            Timestamp
0     Vegetables           20.16           9       181.47  2024-11-27 10:33:28
1           Rice           32.32          66      2133.00  2024-11-27 10:33:28
2         Fruits           14.58          51       743.71  2024-11-27 10:33:28
3           Rice           27.34          63      1722.70  2024-11-27 10:33:28
4         Fruits           24.25          79      1915.93  2024-11-27 10:33:28
...          ...             ...         ...          ...                  ...
9995  Vegetables           33.19           6       199.17  2024-11-27 10:33:28
9996        Rice           49.66          63      3128.37  2024-11-27 10:33:28
9997  Vegetables            8.10           7        56.70  2024-11-27 10:33:28
9998      Fruits           45.71          46      2102.57  2024-11-27 10:33:28
9999        Eggs            7.77          62       481.98  2024-11-27 10:33:28

[10000 rows x 5 columns]

In [7]:
dataset.to_csv("sales_data.csv", index=False)

In [8]:
print(f"Dataset with {num_records} records saved as 'sales_data.csv'")

Dataset with 10000 records saved as 'simulated_sales_data.csv'